@media screen and (max-width: 1040px) {
.nav{
    padding: 1rem 2.5rem;
}

.nav h2 {
font-size: 1.2rem;
}

#item li {
    padding: 5px;
    padding-right: 20px;
}

#item li a {
    padding-bottom: 5px;
    font-size: 13px;   
}

.mid h2 {
    color: white;
    font-size: 1.5rem;
}


.details{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(161, 220, 235);
}


.details .one h3 {
    font-size: 1.5rem;
}


.details .one p {
    font-size: 1.3rem;
    padding-bottom: 2.1rem;
}

.details .two {
    border-left: 0px solid black;
    padding-left: 45px;
    padding-top: 25px;
}

.details .two h3 {
    font-size: 2.5rem;
    padding-bottom: 1.1rem;
}

.details .two h5 {
    font-size: 1.5rem;
    font-weight: 400;
}

.trainer{
    background: rgb(192, 230, 240);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.trainer .about{
    width: 100%;
}

.trainer .about h2{
    display: flex;
    justify-content: center;
}
.trainer .about p{
 padding-left: 30px;
}

.trainer .people{
  width: 100%; 
  display: flex;
  flex-direction: column;

}

.trainer .people .team1{
    width: 30%;
    border: 1px solid black;
}


.trainer .people .team1 .teamdetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 0px;
}

.class .classmenu {
    display: flex;
    flex-direction: column;
}

.class .classmenu .team1{
    width: 83%;
    margin: 10px;
}
}



@media screen and (min-width:700px)  {
.nav{
    /* display: flex; */
    padding: 1rem 2.5rem;
    /* justify-content: center; */
}

.nav h2 {
/* display: none; */
font-size: 1.2rem;
}

/* #item {
    flex-direction: column;
    width: 100%;
    height: 120px;
} */

#item li {
    padding: 5px;
    padding-right: 20px;
}

#item li a {
    padding-bottom: 5px;
    font-size: 13px;
    
}

.mid h2 {
    color: white;
    font-size: 1.5rem;
}
 

}
  
@media screen and (max-width:540px) {
 
.back{
    background-image: url(background.png);
    width: 100%;
    height: 100vh;
    background-size: cover;
    z-index: -1;
}

.mid p{
    margin-bottom: 1.4rem;
}

.mid h2 {
    color: white;
    font-size: 1rem;
}

.mid .btn {
margin-top: 1.5rem;
}

.mid .btn a {
    text-decoration: none;
    /* text-transform: uppercase */
}

.mid .btn a.border {
    /* color: white; */
    /* border: 1px solid white; */
    font-size: 12px;
    /* background: transparent; */
    padding: 5px;
    
}

/*  
.mid .btn a.border:hover{
    color: black;
    background: white;
    border: 1px solid white;
 }  */


.details .one {
    width: 47%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.details .one h3 {
    font-size: 25px;
    padding-bottom: 1.1rem;
}

.details .one h6 {
    padding-bottom: 1.0rem;
}

.details .one p {
    word-wrap: normal;
     font-size: 20px;
    padding-bottom: 1.1rem;
}

.details .one a {
    padding: 10px;
    margin-right: 15px;
}

/* .details .one a:hover{
    background: orange;
    color: black;
} */

.details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.details .two {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    border-left: none;
    margin-left: -75px;
}

.details .two img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
   padding-top: 20px;
}   
}

@media screen and (max-width: 590px ) {
.details .two {
    margin-top: 5px;
    border-left: none;
    margin-left: -60px;
}
.details .two img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    padding-top: 20px;
}
}

